
<main id="todo-box">
<div>
  <input id="task-input"[(ngModel)]="newTask" placeholder="Enter new task"/>
  &nbsp;
  <button id="add-button" (click)="addTask()">Add</button>
  &nbsp;
  <button id="delete-all-button" (click)="deleteAll()">Delete All</button>
</div>
</main>
<ul>
  
  <li id="item-box" *ngFor="let Todo of todoList; let i=index">
    <input type="checkbox" [checked]="Todo.completed" (change)="toggleCompleted(i)"/>
    &nbsp;
      <span>{{Todo.task}}</span>
      <button id="delete-button"(click)="deleteTask(Todo.id)">Delete</button>
  </li>
</ul>


<router-outlet />
